/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    /* Header Section */
    body {
      overflow-x: hidden !important;
    }
    .container{
      width: 320px !important;
    }
    .header-logo {
      width: 100% !important;
      text-align: center !important;
    }
    .header-manu {
      width: 100% !important;
    }
    .header-manu ul li {
      padding: 12px 5px !important;
    }
    .header-manu ul li a {
      font-size: 14px !important;
    }
    .header-button {
      width: 100% !important;
      margin-left: 25% !important;
    }
    /* Banner Section */
    .banner-text {
      width: 100% !important;
      padding: 50px 5px !important;
    }
    .banner-img {
      width: 100% !important;
      margin-bottom: 30px !important;
    }
    /* About Section */
    .about-items {
      width: 273px !important;
      padding: 20px 10px !important;
      margin: 8px 16px !important;
    }
    .about-items i {
      font-size: 35px !important;
      height: 151px !important;
    }
    .about-items h2 {
      font-size: 25px !important;
    }
    .about-items p {
      font-size: 14px !important;
    }
    /* Banner Section */
    .banner-section {
      height: auto !important;
    }
    .banner-text h1 {
      font-size: 38px !important;
    }
    .banner-text p {
      padding: 30px 3px !important;
    }
    /* Your Lift Section */
    .you-life img {
      width: 100% !important;
    }
    .bottom-item {
      width: 96% !important;
      margin-left: 5px !important;
      margin-right: 0 !important;
    }
    /* Your Section */
    .contact-section-1 {
      margin-left: 20px !important;
    }
    .video-section img {
      width: 96%;
      border-radius: 10px;
      margin-left: 5px !important;
    }
    .video-section i {
      top: 39% !important;
      left: 39% !important;
    }
    /* Testimonial Section */
    .testimonial-text {
      width: 90% !important;
    }
    .testimonial-img {
      width: 61% !important;
      margin-left: 55px !important;
    }
    .testimonial-bio {
      width: 95% !important;
      margin-left: 8px !important;
    }
    .text-bio {
      padding: 38px !important;
      font-size: 17px !important;
    }
    .bio-img img {
      width: 72px !important;
      margin-right: 14px !important;
      margin-left: 13px !important;
    }
    /* Contact Section */
    .contact {
      padding: 30px !important;
    }
    .contact ul li {
      width: 93% !important;
      margin-bottom: 20px !important;
    }
    .contact-list {
      width: 87% !important;
      margin-bottom: 20px !important;
    }
    /* Fotter Section */
    .fotter-section {
      clear: both !important;
    }
    .fotter-section p {
      font-size: 12px;
      width: 70%;
      margin: 0 auto;
    }
  }